<!DOCTYPE html>
<html>
  <head>
    <title>CustomerRelationManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  </head>

  <body>
    <div class="section">
      <h1 class="title is-1"><%= link_to 'Customer',root_path %></h1>
      <nav class="navbar margin_top_body" role="navigation" aria-label="main navigation">
        <div class="navbar-brand columns is-mobile">
            <h2 class="column has-background-primary spacingbetween_bar is-size-3"><%= link_to 'Alphabetized', customers_alphabetized_path %></h2>
            <h2 class="column has-background-primary spacingbetween_bar is-size-3"><%= link_to 'Missing_emails',customers_missing_email_path %></h2>
        </div>
      </nav>
      <div class="has-margin-top-5 margin_top_body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
